.App {
  text-align: center;
  background-color: #222;
}

.App-header {
  background-color: #af00009f;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4em;
  padding: 0px;
}
.App-subtitle {
  font-size: 1.5em;
}
